name: hello world
on:
  push:
    branches: [main]
jobs:
  test-zui:
    runs-on: ubuntu-latest
    steps:
      - run: echo "TODAY=$(date +%y-%m-%d)" >> $GITHUB_ENV
      - run: echo "today is $TODAY"
